body{
    padding: 0 10px 0 10px;
    background-color: antiquewhite;
}
header{
    background-color: #0d5e84;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.container img {
  width: 100px; /* adjust the image width as needed */
  height: 100px; /* adjust the image height as needed */
  margin-right: 40px; /* add some space between the image and the title */
  box-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0);
  border-radius: 6px; /* adjust the border radius as needed */
}

.container .title {
  font-size: 30px; /* adjust the font size as needed */
}


.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: black;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    flex: 1;
  }
  
  .nav a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    white-space: nowrap;
  }
.nav a:hover {
    color: rgb(201, 202, 102);
    font-weight: 700;
    text-decoration: underline;
}
.hamburger{
    display: none;
  }
main{
    background-color: #f0f0f0;
    padding: 30px;
}

  section {
    text-align: left;
  }
  
  .main-container {
    display: grid;
    grid-template-columns: 59% 40%;
    gap: 20px;
    margin-top: 20px;
  }
  
  .main-container div {
    background-color: #f0f0f0;
    padding: 0px 0px 10px 0px;
    border-radius: 5px;
    max-height: 400px;
    overflow-y: auto; /* add scrollbar if content exceeds max height */
    box-shadow: 0px 0px 0px black, 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0);
    text-align: center; 

  }
  
  .main-container h2 {
    margin-top: 0;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    background-color: #0d5e84;
  }
  
  .main-container img{
    width: 300px;
    height: 200px;
    border-radius: 0%;
    margin: auto;
    display: block;
  }
  
  .main-container-2 {
    display: grid;
    gap: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0);
  }
  
  .main-container-2 h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    background-color: #0d5e84;
  }
  
  .btn-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(118, 117, 117);
  }
  
  .btn-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .btn-menu li {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-right: 10px;
  }
  
  .btn-menu a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    white-space: nowrap;
  }
  
  .btn-menu button {
    background-color: #000000; 
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 10px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;  
    grid-gap: 10px;
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    border-radius: 10px;
    color: #ffffff
    ;
  }

  .grid-container .item1,
  .grid-container .item2,
  .grid-container .item3,
  .grid-container .item5 {
    background-color: #6c4545;
    border: 1px solid #784545;
  }

  .grid-container .item4,
  .grid-container .item6 {
    background-color: #d8a9a9;
    color: #261616;
    border: 1px solid #784545;
  }
/*foot area style*/
  footer {
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    background-color: #0d5e84;
}
footer img{
    width: 50px;
    height: 20px;
    border-radius: 0%;
    
}
footer p {
    text-align: center;
    color: white;
    margin:0;
    position: relative;
    top: 50%;
    padding: 5px;
}

/* Small screen styles */
@media only screen and (max-width: 768px) {
    /* Override styles for small screens */
    .main-container {
      grid-template-columns: 1fr;
    }
    .hamburger{
        display: block;
      }
      
      .nav.show {
        display: block;
      }
    .main-container div {
      max-height: none;
    }
    
    .nav ul {
      flex-direction: column;
    }
    
    .nav li {
      flex: none;
    }
    
    .grid-container {
      grid-template-columns: 1fr;
    }
    
    footer {
      padding: 10px;
    }
  }
  